Repository intel/neural-compressor, pull requests merged in 2024-04, with the labels that each got.

#1701 Port more helper classes from 2.x
  neural_compressor/common/utils/utility.py
  requirements_ort.txt
  requirements_pt.txt
  test/3x/common/test_utility.py
Labels: INC3.X, module: common

#1708 Fix lm_eval import from itrex [3.x]
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Labels: INC3.X

#1706 Fix RTN supported layer checking condition [3.x]
  neural_compressor/torch/algorithms/weight_only/rtn.py
Labels: INC3.X, PyTorch

#1715 Add non-str `op_name` match workaround for IPEX
  neural_compressor/common/base_config.py
Labels: INC3.X

#1716 Update model ckpt download url in prepare_model.py
  examples/onnxrt/image_recognition/beit/quantization/ptq_static/prepare_model.py
Labels: examples

#1742 Fix `weight_only` algorithms import
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  neural_compressor/torch/algorithms/weight_only/__init__.py
  neural_compressor/torch/algorithms/weight_only/modules.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_gptq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
Labels: INC3.X, PyTorch

#1727 upgrade lm_eval to 0.4.2 following ITREX
  .azure-pipelines/model-test-3x.yml
  .github/checkgroup.yml
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/pruning/eager/run_clm_sparsegpt.py
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/requirements.txt
  examples/pytorch/nlp/huggingface_models/language-modeling/quantization/llm/run_clm_no_trainer.py
Labels: extension test

#1745 Enhance the `set_local` for operator type
  neural_compressor/common/base_config.py
  neural_compressor/torch/utils/utility.py
  test/3x/common/test_common.py
  test/3x/torch/test_config.py
Labels: INC3.X

#1732 autoround hello example
  README.md
  examples/helloworld/torch_woq_autoround/README.md
  examples/helloworld/torch_woq_autoround/requirements.txt
  examples/helloworld/torch_woq_autoround/test.py
Labels: examples

#1753 Remove version limitation of transformers for ort layer-wise
  neural_compressor/onnxrt/algorithms/layer_wise/core.py
  requirements_ort.txt
  test/3x/onnxrt/requirements.txt
Labels: ONNX Runtime

#1758 ONC upgrade transformers
  neural_compressor_ort/algorithms/layer_wise/core.py
  test/onnxrt/requirements.txt
Labels: ONNX Runtime

#1763 Migrate AutoRound to Torch new 3x API
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/quantization/algorithm_entry.py
  test/3x/torch/quantization/weight_only/test_autoround.py
Labels: INC3.X, PyTorch
