Repository intel/neural-compressor, pull requests merged in 2024-11, with the labels that each got.

#2055 Update torch config kwargs
  examples/3.x_api/pytorch/nlp/huggingface_models/language-modeling/quantization/transformers/weight_only/text-generation/README.md
  neural_compressor/torch/quantization/config.py
Labels: PyTorch

#2062 Check autoround before import it
  neural_compressor/torch/algorithms/weight_only/autoround.py
Labels: PyTorch

#2071 Fix the PT2E UT
  test/3x/torch/quantization/test_pt2e_quant.py
Labels: PyTorch, PT2E

#2072 Integrate AutoRound v0.4 [3x]
  neural_compressor/torch/algorithms/weight_only/autoround.py
  neural_compressor/torch/algorithms/weight_only/utility.py
  neural_compressor/torch/quantization/algorithm_entry.py
  neural_compressor/torch/quantization/config.py
  neural_compressor/torch/utils/utility.py
  test/3x/torch/quantization/weight_only/test_autoround.py
  test/3x/torch/quantization/weight_only/test_awq.py
  test/3x/torch/quantization/weight_only/test_hqq.py
  test/3x/torch/quantization/weight_only/test_rtn.py
  test/3x/torch/quantization/weight_only/test_woq_utils.py
Labels: related to autoround v0.4.1
